node_modules
bower_components
release
vendor
composer.lock
phpunit.xml
.idea

# Project Files
dist
ruleset.xml

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
*.csv

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

.env
setup.log

# E2E testing
artifacts
tests/cypress/downloads
tests/cypress/screenshots
tests/cypress/videos
