<?xml version="1.0"?>
<ruleset name="Simple Podcasting">
	<rule ref="10up-Default" />
	<file>.</file>
	<exclude-pattern>dist/</exclude-pattern>
	<exclude-pattern>vendor/</exclude-pattern>
	<exclude-pattern>tests/</exclude-pattern>
</ruleset>
