.taxonomy-podcasting_podcasts .term-parent-wrap {
	display: none;
}
.podcast-image-thumbnail {
	max-width: 300px;
	max-height: 200px;
}

.column-podcasting_image img {
	height: auto;
	max-width: 100%;
	width: 75px;
}
