.components-input-control,
.components-base-control {
	width: 100%;
}
.cover-art-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cover-art-container button {
	margin: 10px 0;
}

.simple-podcast-settings #hierar-podcasting_podcasts .components-base-control {
	margin-bottom: 0px;
}

.simple-podcast-settings #hierar-podcasting_podcasts {
	margin-bottom: 16px;
}
