.components-input-control,
.components-base-control {
	width: 100%;
}
.cover-art-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cover-art-container button {
	margin: 10px 0;
}
