name: Unit Tests

env:
  COMPOSER_VERSION: "2"
  COMPOSER_CACHE: "${{ github.workspace }}/.composer-cache"

on:
  push:
    branches:
      - develop
      - trunk
  pull_request:
    branches:
      - develop

jobs:
  phpunit:
    name: ${{ matrix.php.name }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php:
          - {name: 'PHP 7.4', version: '7.4'}
          - {name: 'PHP 8.1', version: '8.1'}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set standard 10up cache directories
      run: |
        composer config -g cache-dir "${{ env.COMPOSER_CACHE }}"

    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'

    - name: Prepare composer cache
      uses: actions/cache@v4
      with:
        path: ${{ env.COMPOSER_CACHE }}
        key: composer-${{ env.COMPOSER_VERSION }}-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          composer-${{ env.COMPOSER_VERSION }}-

    - name: Set PHP version
      uses: shivammathur/setup-php@v2
      with:
        php-version: '${{ matrix.php.version }}'
        coverage: none
        tools: composer:v2

    - name: Install dependencies
      run: composer install && npm install

    - name: Build
      run: npm run build

    - name: Test
      run: ./vendor/bin/phpunit -v
